@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.title {
  padding: 3%;
  text-align: center;
  font-size: 25px;
}

header {
  display: flex;
  width: auto;
}
.left {
  width: 50%;
  height: 100vh;
<<<<<<< HEAD
  background-image: url("/Asset/images/seedling-5009286_1920.jpg");
=======
  background-image: url('./Asset/images/seedling-5009286_1920.jpg');
>>>>>>> 0720f05dfa2b4aba7980db0fc8426cfa09e68465
  background-repeat: no-repeat;
  background-size: cover;
}
.right {
  width: 50%;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}
nav ul a {
  color: #ffffff;
  font-size: 16px;
}
nav ul {
  display: flex;
  margin-left: 12%;
  padding-top: 5%;
  justify-content: space-between;
  margin-right: 4%;
}
.show-para p {
  margin-top: 30%;
  font-size: 15px;
  margin-left: 12%;
  margin-right: 4%;
}
.show-para {
  text-align: left;
  margin-left: 12%;
  margin-right: 4%;
}
.show-para button {
  padding: 1%;
  width: 15%;
  font-size: 5%;
  color: #ffffff;
  background-color: #8bb400;
  border-radius: 20px;
}
.left i {
  position: absolute;
  left: 38%;
  top: 49%;
  z-index: 1000;
}

.search {
  margin-top: 50%;
  margin-left: 16.33%;
  width: 65%;
  height: 5vh;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: left;
  padding-left: 2%;
  padding-top: 0.5%;
  border: 1px solid #000000;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.card h1 {
  text-align: center;
}
.card p {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  font-size: 12px;
}
.card img {
  width: 100%;
  height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.category {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 30%;
  height: 100%;
  background-color: #c4c4c4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.blog img {
  border-radius: 20px;
  width: 100%;
  height: 100%;

  background-size: cover;
}

.blog {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  width: 100%;
}

.content p {
  font-size: 15px;
  width: 100%;
  height: 30%;
}
.content {
  width: 50%;
  height: 30%;
}

.update {
  text-align: center;
}
.update input {
  text-align: left;
  padding-left: 1%;
  width: 30%;
  height: 31px;
  border: 1px solid #000000;
  border-radius: 20px;
}
.update button {
  margin: 1%;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 10%;
  font-size: 16px;
  margin-bottom: 5%;
  color: #ffffff;
  background-color: #8bb400;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  color: #ffffff;
}

@media only screen and (max-width: 890px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  header {
    flex-direction: column;

    flex-basis: 100%;
  }
  .category {
    flex-direction: column;
    flex-basis: 100%;
  }
  .category img {
    width: 100%;
  }
  .card {
    width: 80%;
    align-self: center;
    margin-bottom: 2%;
  }
  .blog {
    flex-direction: column-reverse;
  }
  .content {
    width: 80%;
    align-self: center;
    margin-bottom: 2%;
  }
  .blog img {
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
  }
}
